# file options

--exclude BuildTools

# file header
--header "\n{file}\nCreated by Arpit Williams on {created}\n"


# format options

--indent 2
--ifdef no-indent

# rules

--disable trailingCommas,redundantGet,redundantBackticks,unusedArguments,blankLinesAtStartOfScope,elseOnSameLine,redundanttype,wrapArguments,wrapAttributes,wrapMultilineStatementBraces,extensionAccessControl,enumNamespaces,hoistTry,redundantSelf,redundantReturn
